:root {
    --background: #F3F5FC;
    --dark-blue-400: #072b61;
    --dark-blue-300: #0a3871;
    --gray: #D8DFE8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

body {
    background-color: var(--background);
    width: 100%;
    gap: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header img {
    margin-top: 2%;
    margin-left: 5%;
    position: absolute;
}


.container {
    flex: 1;
    display: flex;
    gap: 20px;
    width: 90%;

}

/*****  COMEÇO DA AREA DO INPUT ***/
/* */


.inputSection {
    display: flex;
    flex-direction: column;
    /* DIREÇÃO DO INPUT-SECT É COLUNA POIS OS BOTÕES FICAM ABAIXO DO INPUT */
    height: 83%;
    min-height: 500px;
    /* o tamanho do campo de input é menor que o do campo de output (de acordo com o layout fornecido) */
    flex: 1.4;
    justify-content: space-between;
    margin-left: 10%;
    margin-top: 100px;
}

.inputTexto {
    /* É O INPUT DO TEXTO PARA CODIFICAR OU DECODIFICAR!! */
    height: 70%;
    font-size: 32px;
    background-color: var(--background);
    resize: none;
    border: none;
    outline: none;
}

.inputSection .labelEBotoes p {
    font-size: 12px;
    color: #495057;
}

.labelEBotoes p{
    user-select: none;
}

.botoes {
    /*CLASSE DOS BOTOES PRECISA SETAR FLEX PQ É A CLASSE PAI DOS DOIS BOTOES */
    display: flex;

    gap: 10px;
    margin-top: 10px;
}

.botoes button {
    flex: 1;
    border: none;
    padding: 30px 15px 30px 15px;
    background-color: var(--dark-blue-400);
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
    border: 1px solid var(--dark-blue-400);
}
.botoes button:hover{
    cursor: pointer;
}

.botoes button:nth-child(2) {
    background-color: var(--gray);
    color: var(--dark-blue-300)
}


/*****  FIM DA AREA DO INPUT ***/

/*****  COMEÇO DA AREA DO OUTPUT ***/

.outputSection {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
    height: 100%;
    min-height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 32px;

}

.outputSection img {
    width: 70%;
    height: auto;
}

.output-btncopiar {
    width: 100%;
}

.output-btncopiar button {
    width: 50%;
    padding: 24px;
    border-radius: 32px;
    visibility:hidden;
    color: var(--dark-blue-300);
    font-size: 16px;
    border: 1px solid #0A3871 ;
}

.output-btncopiar button:hover {
    cursor: pointer;
}

.output {
    width: 100%;
    text-align: center;
    background-color: white;
    resize: none;
    border: none;
    outline: none;
}

/*****  FIM DA AREA DO OUTPUT ***/

footer {
    background-image: linear-gradient(90deg, blue, lightblue, blue);
    text-align: center;
}
footer p:before{
    content:"© ";
}

@media screen and (max-width:768px) {

    main {
        /* a partir de 768px tera um padding no main pros objetos não ficarem colados na tela! */
        padding: 10px;
        /* talvez esse padding possa estar no .container aqui em baixo? */
        height: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .inputSection {
        margin-left: 0;
    }

    .outputSection img {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .inputSection .labelEBotoes .botoes {
        flex-direction: column;
        gap: 20px;
    }
}