* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    height: 100vh;
}

header img{
    margin-top: 20px;
    position: absolute;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 7%;
    margin-right: 2%;
    height: 90%;
}

#section-input {
    flex: 2;
    margin-top: 5em;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 4px;
}

#section-input textarea {
    width: 100%;
}

#section-output {
    margin-top: 30px;
    flex: 1;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
}


@media(max-width: 750px){
    main{
        flex-direction: column;
        margin: 10px;
    }
}